In [31]:
import os
import pandas as pd
import numpy as np
os.chdir("D:/works/Jupyter Notebooks/")

In [34]:
data = pd.read_csv("Toyota.csv", index_col=0, na_values=["??", "????"])
print(data.shape)

(1436, 10)

In [12]:
print(data.index)
print(data.columns)
print(data.size)

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
      dtype='int64', length=1436)
Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')
14360

In [13]:
print(data.ndim)

2

In [15]:
print(data.head(6))

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170
5  12950  32.0  61000   Diesel  90       0.0          0  2000      3    1170

In [16]:
print(data.tail(7))

      Price   Age     KM FuelType   HP  MetColor  Automatic    CC Doors  \
1429   8950  78.0  24000   Petrol   86       1.0          1  1300     5
1430   8450  80.0  23000   Petrol   86       0.0          0  1300     3
1431   7500   NaN  20544   Petrol   86       1.0          0  1300     3
1432  10845  72.0     ??   Petrol   86       0.0          0  1300     3
1433   8500   NaN  17016   Petrol   86       0.0          0  1300     3
1434   7250  70.0     ??      NaN   86       1.0          0  1300     3
1435   6950  76.0      1   Petrol  110       0.0          0  1600     5

      Weight
1429    1065
1430    1015
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

In [18]:
print(data.at[4, "KM"])

38500

In [19]:
print(data.iat[4, 0])

13750

In [20]:
print(data.loc[:, "FuelType"])

0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434       NaN
1435    Petrol
Name: FuelType, Length: 1436, dtype: object

In [35]:
print(data.dtypes)
print(data.dtypes.value_counts())

Price          int64
Age          float64
KM           float64
FuelType      object
HP           float64
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object
int64      4
float64    4
object     2
Name: count, dtype: int64

In [29]:
print(data.select_dtypes(exclude=[object], include=[]))
print(data.select_dtypes(exclude=[], include=[int]))

      Price   Age  MetColor  Automatic    CC  Weight
0     13500  23.0       1.0          0  2000    1165
1     13750  23.0       1.0          0  2000    1165
2     13950  24.0       NaN          0  2000    1165
3     14950  26.0       0.0          0  2000    1165
4     13750  30.0       0.0          0  2000    1170
...     ...   ...       ...        ...   ...     ...
1431   7500   NaN       1.0          0  1300    1025
1432  10845  72.0       0.0          0  1300    1015
1433   8500   NaN       0.0          0  1300    1015
1434   7250  70.0       1.0          0  1300    1015
1435   6950  76.0       0.0          0  1600    1114

[1436 rows x 6 columns]
      Price  Automatic    CC  Weight
0     13500          0  2000    1165
1     13750          0  2000    1165
2     13950          0  2000    1165
3     14950          0  2000    1165
4     13750          0  2000    1170
...     ...        ...   ...     ...
1431   7500          0  1300    1025
1432  10845          0  1300    1015
1433   8500          0  1300    1015
1434   7250          0  1300    1015
1435   6950          0  1600    1114

[1436 rows x 4 columns]

In [39]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   object
 6   Automatic  1436 non-null   object
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 123.4+ KB
None

In [50]:
print(np.unique(data["Doors"]))

[2 3 4 5]

In [38]:
data["MetColor"] = data["MetColor"].astype("object")
data["Automatic"] = data["Automatic"].astype("object")

In [49]:
data["Doors"] = data["Doors"].replace("three", 3).astype(int)
data["Doors"] = data["Doors"].replace("four", 4).astype(int)
data["Doors"] = data["Doors"].replace("five", 5).astype(int)

In [46]:
print(data["Doors"])

0       3
1       3
2       3
3       3
4       3
       ..
1431    3
1432    3
1433    3
1434    3
1435    5
Name: Doors, Length: 1436, dtype: object

In [52]:
print(data.isnull().sum())

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64